/*
=============== 
Fonts
===============
*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: hsl(205, 78%, 60%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-black: #222;
  /* particular colors */
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: #e66b6b;
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  /* font family */
  --ff-primary: 'Roboto', sans-serif;
  --ff-secondary: 'Open Sans', sans-serif;
  /* transition */
  --transition: all 0.3s linear;
  /* letter-spacing */
  --spacing: 0.1rem;
  /* radius */
  --radius: 0.2rem;
  /* shadow */
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  /* width */
  --max-width: 1170px;
  --fixed-width: 620px;
}

/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('./bcg.jpg') center/cover no-repeat;
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
  text-align: center;
  font-family: 'Permanent Marker', cursive;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 0.875rem;
}

p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 1.75rem;
  }

  h4 {
    font-size: 1rem;
  }

  body {
    font-size: 1rem;
  }

  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

/*  global classes */

/* section */
.section {
  padding: 2.5rem 0;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}

@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}

main {
  min-height: 100vh;
  display: grid;
  place-items: center;
  grid-template-rows: 1fr auto;
}

/* styling */
header {
  padding: 0 1rem;
}

.btn,
.input {
  text-transform: uppercase;
  background: var(--clr-white);
  color: var(--clr-black);
  letter-spacing: var(--spacing);
  display: inline-block;
  transition: var(--transition);
  font-size: 1rem;
  border: 2px solid var(--clr-black);
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  border-radius: 2rem;
  padding: 0.6rem 1.25rem;
  text-align: center;
  outline: none;
}
.btn {
  margin-left: 1rem;
}
.btn:hover {
  border-color: var(--clr-white);
  color: var(--clr-white);
  background: var(--clr-black);
}
/* Chrome, Safari, Edge, Opera */
.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.input[type='number'] {
  -moz-appearance: textfield;
}

main h1 {
  text-align: center;
  color: var(--clr-red-dark);
  text-shadow: 2px 2px 2px var(--clr-white);
  text-transform: uppercase;
  letter-spacing: 4px;
  margin-bottom: 4rem;
  font-family: var(--ff-primary);
}

#special-text {
  color: var(--clr-black);
  text-shadow: 1px 1px 0px var(--clr-white);
}

.error {
  background: var(--clr-red-light);
  color: var(--clr-white);
  font-weight: bolder;
  padding: 2rem;
  border-radius: var(--radius);
  text-transform: none;
}

.table {
  text-align: center;
  padding: 2rem 5rem;
  background: linear-gradient(to bottom right, #06702e, #5a9969);
  color: var(--clr-white);
  border-radius: var(--radius);
  box-shadow: var(--dark-shadow);
  border: 1rem solid #c0811a;
  outline: 4px solid var(--clr-white);
  outline-offset: -1.5rem;
  display: none;
}

/* footer */

footer {
  color: var(--clr-white);
  background: var(--clr-black);
  width: 100%;
  padding: 1.5rem 0 0.5rem;
  font-family: sans-serif;
}
footer a {
  color: #489fb5;
  transition: var(--transition);
  font-weight: bold;
}
footer a:hover,
.icon a:hover {
  color: var(--clr-white);
}
.icon {
  font-size: 1.5rem;
  vertical-align: middle;
}
.icon i {
  transition: var(--transition);
}
#twitter i {
  color: #00a7e7;
}
#instagram i {
  color: #ea6960;
}
#linkedin i {
  color: #0073b1;
}
#twitter i:hover,
#instagram i:hover,
#linkedin i:hover {
  color: var(--clr-white);
}
